@import url("https://use.typekit.net/ves2ggk.css");

/* ------------------------------------ Font Styles For Filson-Soft
font-family: filson-soft, sans-serif;
font-weight: 200; 400; 700; 900;
font-style: normal;
--- */

/* ------------------------------------ Background Transition Effects https://ianlunn.github.io/Hover/ --- */

.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #05386b;
  color: white;
}




/* ------------------------------------ Body and Headings - Gradient Style from https://css-tricks.com/css3-gradients/ --- */

body {
    margin: 0;
    padding: 0;
    font-family: filson-soft, sans-serif;
    font-style: normal;
    background-image: radial-gradient( circle at bottom center, #05386b, #008080 50% );
}

h1,h2,h3,h4 {
    color: #fafafa;
    text-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
}

/* ------------------------------------ HR Style From https://css-tricks.com/examples/hrs/ - by Dan Eden --- */

.hr-style {
    border: 0;
    height: 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/* ----------------------------------------------------------------------- HOME PAGE ----- */
/* ------------------------------------ Nav Bar --- */

.navbar-brand {
    margin-left: 10px;
}

.navbar-brand img {
    width: 100px;
}

.navbar-dark .navbar-toggler {
    border: 2px solid #5cdb95;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

@media(max-width: 576px) {
    .navbar-brand {
    visibility: hidden;
    }
}

/* ------------------------------------ Intro Jumbotron --- */

.jumbotron {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 725px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-bottom-left-radius: 3.5%;
    border-bottom-right-radius: 3.5%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
}

.jumbotron-index {
    background-image: url(../images/dresden3.jpg);
}

.jumbotron-experiences {
    background-image: url(../images/battlefield-of-waterloo.jpg);
}

.jumbotron-tips {
    background-image: url(../images/berlin-christmas-market3.jpg);
}

.jumbotron-contact {
    background-image: url(../images/teotihuacán.jpg);
}

.jumbo-overlay { /* --- Code from: https://stackoverflow.com/questions/34702477/add-a-dark-overlay-to-background-image --- */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-bottom-left-radius: 3.5%;
    border-bottom-right-radius: 3.5%;
    border-bottom: 2px solid #5cdb95;
}

.jumbo-intro {
    position: relative;
    z-index: 2;
}

.jumbotron img {
    margin-top: 200px;
    width: 300px;
}

.jumbotron .quote {
    width: auto;
}

.intro-button {
    margin-top: 80px;
    color: #fafafa;
}

.intro-button .btn {
    border: 2px solid #5cdb95;
    border-radius: 12px;
}

.intro-button .btn:hover {
    background-image: radial-gradient( circle at center right, #05386b, #008080 50% );
}

/* ------------------------------------ Index - Intro Img and Text --- */

#intro-text {
    margin: 10px 0 40px 0;
    padding: 0;
    color: #fafafa;
}

#intro-text h2 {
    font-size: 30pt;
    padding: 25px 25px 25px 25px;
}

.intro {
    margin: 10px 10px 20px 10px;
}

.intro-img {
    background: url(../images/top-of-lions-mound.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.intro-text {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 20px 30px 20px 30px;
    max-height: 100%;
}

/* ------------------------------------ Menu Map / Style from https://youtu.be/9cKsq14Kfsw --- */

#menu-map {
    margin: 10px 0 70px 0;
    padding: 0;
}

.menu-map {
    margin: 20px 0 25px 0;
}

.menu-map h2 {
    font-size: 30pt;
    padding: 25px 25px 25px 25px;
}

.menu-icons {
    margin: 50px 0 50px 0;
}

.menu-icons div {
    margin-bottom: 20px;
}

.menu-icons p {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15pt;
}

.menu-icons a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 150px;
}

.menu-icons i {
    margin: 20px 0 20px 0;
    font-size: 30px;
}




/* ----------------------------------------------------------------------- EXPERIENCES ----- */
/* ------------------------------ Experience Intro Text */
#experiences {
    margin: 10px 0 40px 0;
    padding: 0;
    color: #fafafa;
}

#experiences h2 {
    font-size: 30pt;
    padding: 25px 25px 25px 25px;
}

#experiences h3 {
    font-size: 20pt;
    padding: 0px 25px 20px 25px;
}

.exp-intro {
    margin: 10px 10px 20px 10px;
}

.exp-text {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 20px 30px 20px 30px;
    max-height: 100%;
}

@media(max-width: 768px) {
    .exp-text {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 20px 30px 20px 30px;
    max-height: 100%;
    }
}

/* ------------------------------ Accordion Collapsible Exp. Menu from Bootstrap */

#collapsible-menu {
    margin: 10px 0 40px 0;
    padding: 0;
    color: #fafafa;
}

#collapsible-menu h2 {
    font-size: 30pt;
    padding: 25px 25px 25px 25px;
}

#collapsible-menu h3 {
    font-size: 25pt;
    padding: 25px 25px 25px 25px;
}

.vertical-accordion {
    height: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    margin: 40px 30px 40px 30px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
}

.card-header:hover {
    background-image: radial-gradient( circle at center right, #05386b, #008080 50% );
}

.card-1 .card-header:hover {
    background-image: radial-gradient( circle at top right, #05386b, #008080 50% );
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-5 .card-header:hover {
    background-image: radial-gradient( circle at bottom right, #05386b, #008080 50% );
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.btn-link {
    font-weight: 700;
    color: #fafafa;
    text-decoration: none;
    font-size: 25pt;
    letter-spacing: .5em;
}

.btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-link:hover {
    text-decoration: none;
    color: #fafafa;
}

/* --- Image Gallery from https://codepen.io/stefcharle/pen/Gydvbx --- */

.container-gallery {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 45px;
  width: 900px;
  transform: skew(-2deg);
  border: 2px solid #5cdb95;
  border-radius: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 1.5);
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.item:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.item:hover{
    flex: 7;
}

/* ------------------------------------ Belgium Gallery --- */

.item-1-belgium { 
  background-image: url(../images/top-of-lions-mound.jpg);
}

.item-2-belgium { 
  background-image: url(../images/battlefield-of-waterloo.jpg);
}

.item-3-belgium { 
  background-image: url(../images/belgian-waffle.jpg);
}

.item-4-belgium { 
  background-image: url(../images/mont-des-arts.jpg);
}

.item-5-belgium { 
  background-image: url(../images/lions-mound.jpg);
}

/* ------------------------------------ Czech Republic Gallery --- */

.item-1-czech-republic { 
  background-image: url(../images/prague-castle.jpg);
}

.item-2-czech-republic { 
  background-image: url(../images/prague-group-photo.jpg);
}

.item-3-czech-republic { 
  background-image: url(../images/prauge1.jpg);
}

.item-4-czech-republic { 
  background-image: url(../images/prauge2.jpg);
}

.item-5-czech-republic { 
  background-image: url(../images/prague-with-harry.jpg);
}

/* ------------------------------------ Germany Gallery --- */

.item-1-germany {
  background-image: url(../images/cheers1.jpg);
}

.item-2-germany {
  background-image: url(../images/ciee.g.27.jpg);
}

.item-3-germany {
  background-image: url(../images/berlin-christmas-mall.jpg);
}

.item-4-germany {
  background-image: url(../images/doner.jpg);
}

.item-5-germany {
  background-image: url(../images/brandenburg-gate-1.jpg);
}

/* ------------------------------------ Mexico Gallery --- */

.item-1-mexico {
  background-image: url(../images/basílica-de-guadalupe.jpg);
}

.item-2-mexico {
  background-image: url(../images/salvaierra.png);
}

.item-3-mexico {
  background-image: url(../images/teotihuacán.jpg);
}

.item-4-mexico {
  background-image: url(../images/elote.jpg);
}

.item-5-mexico {
  background-image: url(../images/nativity-mexico.jpg);
}

/* ------------------------------------ United Kingdom / England Gallery --- */

.item-1-united-kingdom {
  background-image: url(../images/london-bridge.jpg);
}

.item-2-united-kingdom {
  background-image: url(../images/london-emirates-stadium.jpg);
}

.item-3-united-kingdom {
  background-image: url(../images/london-emirates-stadium-cannon.jpg);
}

.item-4-united-kingdom {
  background-image: url(../images/london-river-thames.jpg);
}

.item-5-united-kingdom {
  background-image: url(../images/inside-london-eye.jpg);
}


/* ------------------------------------------------- Plain Travel Cards ----- */

.belgium-img {
    background: url(../images/mont-des-arts.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.czech-republic-img {
    background: url(../images/prague-castle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.germany-img {
    background: url(../images/ciee.g.27.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.mexico-img {
    background: url(../images/salvaierra.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.united-kingdom-img {
    background: url(../images/london-river-thames.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;
    margin-bottom: 20px;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.country-info {
    margin: 10px 10px 10px 10px;
}

.country-text {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 20px 30px 30px 30px;
    max-height: 100%;
}

.vertical-accordion a {
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
}

.vertical-accordion a:hover {
    font-weight: 400;
    color: #5cdb95;
    text-decoration: none;
    background-color: transparent;
}

.small-container a {
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
    background-color: transparent;
}

.small-container a:hover {
    font-weight: 400;
    color: #5cdb95;
    text-decoration: none;
    background-color: transparent;
}

/* ----------------------------------------------------------------------- TRAVEL TIPS ----- */
/* ------------------------------------------------- Travel Tips Intro ----- */

#travel-tips {
    margin: 10px 0 40px 0;
    padding: 0;
    color: #fafafa;
}

#travel-tips h2 {
    font-size: 30pt;
    padding: 25px 25px 25px 25px;
}

#travel-tips h3 {
    font-size: 20pt;
    padding: 0px 25px 20px 25px;
}

.tips-intro {
    margin: 10px 10px 20px 10px;
}

.tips-text {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 20px 30px 20px 30px;
    max-height: 100%;
}

/* ------------------------------------------------- Travel Cards - Code from https://codepen.io/YaroslavW/pen/WZQEza ----- */

#travel-cards {
    margin: 70px 0 40px 0;
    padding: 0;
    min-height: 300px;
    font-family: sans-serif;
}

#travel-cards .row {
    height: 50vh;
    margin: 0;
}

#travel-cards h3 {
    font-size: 20pt;
    padding: 0px 25px 20px 25px;
}

.card-tip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: auto;
    background: #000;
    border: 3px solid #5cdb95;
    border-radius: 50px;
}

.card-tip .card-img {
    width: 100%;
    height: 275px;
    overflow: hidden;
    border-radius: 50px;
}

.card-tip .card-img img {
    width: 100%;
    height: inherit;
    transition: .5s;
}

.card-tip:hover .card-img img {
    opacity: .7;
    transform: translateX(30%);/*100%*/
}

.card-tip .card-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}

.card-tip:hover .card-details {
    transform: perspective(2000px) rotateY(0deg);
}

.card-tip .card-details .card-text {
    padding: 20px;
    text-align: center;
    background-image: radial-gradient( circle at bottom right, #05386b, #008080 50% );
    border: 2px solid #5cdb95;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.card-tip .card-details .card-text h2 {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 15pt;
    text-transform: uppercase;
}

.card-tip .card-details .card-text p {
    margin: 0;
    color: #fff;
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    padding: 3px;
    max-height: 100%;
}

@media(max-width: 768px) {
    #travel-cards .row {
        height: 100vh;
        margin: 0;
    }
}


/* ------------------------------------ Contact Form from Bootstrap--- */

#contact-form {
    margin: 0;
}

.form-container .row {
    margin: 5px;
    padding: 10px;
    border: 3px solid #5cdb95;
    border-radius: 30px;
    background-image: radial-gradient( circle at bottom right, #05386b, #008080 40% );
}

.form-group {
    margin: 0;
    padding: 10px 0 10px 0;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #ffffff;
    font-size: 15pt;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .4rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 2px solid #5cdb95;
    border-radius: 30px;
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    margin-left: 10px;
    font-size: 80%;
    color: #ffffff;
}

.submit-button {
    margin-top: 10px;
    border: 3px solid #5cdb95;
    border-radius: 12px;
}

.submit-button:hover {
    background-image: radial-gradient( circle at bottom right, #05386b, #008080 70% );
}

.center-button {
    padding: 0;
}



/* ------------------------------------ Footer --- */

footer {
    color: #fafafa;
    min-height: 200px;
    margin: 20px 0 20px 0;
}

.footer h3 {
    font-size: 20pt;
    padding: 20px 25px 20px 25px;
}

.footer p {
    font-family: filson-soft, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.social {
    min-height: 60px;
} 

.social i {
    width: 40px;
    height: 20px;
    margin-top: 5px;
    padding: 20px 0px 30px 0px;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    border: 2px solid #5cdb95;
    border-radius: 50px;
    color: #fafafa;
    background: transparent;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 1.5);
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}

.social i:hover {
    background-image: radial-gradient( circle at bottom right, #05386b, #008080 50% );
}

